body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
} /* linked to google fonts */

.navigation {
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
} /*so bg color is white, navbar width stretches with the bg image (with the body), and is fixed at the top of the screen as you scroll*/

.navbar li {
	list-style: none;
	display: inline;
	padding: 20px;
	margin-right: 10px;
	font-weight: bold;
} /* to line up list horizontally */

#navhome {
	margin-left: 10px;
}

.navbar {
	display:inline-block;
} /*"home" is a separate UL; display both lists on the same line */

.nav_pages {
	float: right;
	margin-right: 20px;
} /* align other buttons to the right away from the home button */

.main_header{
	background-image: url("../images/crosswalk1.jpg");
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} /*set background image to cover the whole header, and set whole header to cover the entire viewport to create a full page landing screen. Use flexbox to center the logo*/

.main_header img {
	width: 500px;
	height: 390px;

} /*adjust logo size to be porportional to itself and page*/

p {
	max-width: 940px;
	max-height: 600px;
	margin: 0 auto 20px auto;
	text-align: center;
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
} /*optimize paragraph size for mobile viewing*/

.beliefs {
	background-color: #ABA9A9;
	margin: 0px;
}

.community {
	background-color: #2A2A2A;
	margin: 0px;
}

.outreach {
	/* background-color: #F6F5EC; */ 
	background-color: 
}

.media {
	background-color: #ABAAA9;
}

.staff {
	background-color: #010101;
}

div {
	border: 1px solid transparent;
} /*a bunch of containers for each section below the fold, so that each section can have its own background color. Transparent border eliminates white space between containers*/

div, h2 {
	font-weight: bold;
	text-align: center;
} /* to make headers of each section bold and centered */

div, p {
	max-height: 100%;
} /* to stop paragraphs from overflowing into other sections */

a {
	text-decoration: none;
	color: black;
} /*to get rid of decorations over links in navbar */

.no_display {
	visibility: hidden;
}

.beliefs-font {
	color: #171616;
}

.community-font {
	color: #DFD7D7;
}

.outreach-font {
	color: #222020;
}

.media-font {
	color: #171616;
}

.staff-font {
	color: #F4F2F2;
} /*classes to control the font colors in each section */