body {
	margin: 0px;
}


.main_header{
	background-image: url("../images/crosswalk.jpg");
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main_header img {
	width: 600px;
	height: 360px;

}

.rest_of_page {
	z-index: -1;
}

p {
	max-width: 940px;
	max-height: 600px;
	margin: 0 auto 20px auto;
	text-align: center;
	padding: 10px;
}

.about {
	text-align: center;
}
testing branch